*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	cursor: url(../imagens/mata_mosca.png) 30 30, auto;
}

body{
	background: url('../imagens/bg.jpg') no-repeat;
}

.container{
	padding-bottom:40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mosquito1{
	width: 50px;
	height: 50px;
}

.mosquito2{
	width: 70px;
	height: 70px;
}

.mosquito3{
	width: 90px;
	height: 90px;
}

.ladoA{
	transform: scaleX(1);
}

.ladoB{
	transform: scaleX(-1);
}

.painel{
	position: absolute;
	width: 190px;
	padding: 10px;
	bottom: 0px;
	left:0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas{
	float: left;
}

.cronometro{
	float: left;
	font-size:20px;
	font-weight: bold;
}

.btn{
	color:#fff;
	border: none;
	border-radius:3px;
	background:rgb(37, 36, 36);
	padding:13px 20px;
}

button.iniciar{
	background:rgb(211, 58, 58);
}

.form-level{
	margin-top: -25px;
	border-radius: 4px;
	height:40px;
	margin-bottom:10px;
}